fastapi==0.135.2
uvicorn[standard]==0.42.0
python-multipart==0.0.22
pandas==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
tzdata==2025.3
openpyxl==3.1.5
Pillow==12.1.1
fpdf==1.7.2